@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    margin :0;
    font-family: "Open Sans", sans-serif;
}
header{
    background-color: #450920;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#wine-brand{
    display: flex;
    width: 40px;
    align-items: center;
}

#wine-brand p{
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin-right: 10px;
}

.nav-items{
    display: flex;
    margin: 5px;

}

.nav-item{
    list-style-type: none;
    margin-right: 10px;

}

.nav-item a{
    text-decoration: none;
    color: white;

}

/* ELEMENTS */
#main-element{
    background: linear-gradient(0.30turn,#450920, #00000000), url("./assets/pexels-pixabay-290316.jpg");
    background-size: cover;
    height: 100vh;
    color: white;
}
#first-main-element{
    width: 50%;
    padding-top: 10%;
    align-items: center;
    margin-left: 5%;
}

.element-sub{
    font-weight: 100;
    margin-bottom: 60px;
}

#first-main-element h1{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 60px;
}

.description{
    font-weight: 100;
    font-size : 25px;
    width: 80%;
    margin-bottom: 60px;
}
/* button index.html */
.discover-product{
    background-color: #f9dbbd;
    width: 220px;
    padding: 20px;
}

.discover-product a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/* INDEX.HTML */
#search-form{
    background-color: #eeeeee;
    padding: 20px;
    display: flex;
    align-items: center;
}
#search-form p{
    font-size: 20px;
    font-weight: 100;
    margin-right: 20px;
}
#search-input{
    width: 70%;
    height: 40px;
    border: 2px solid #bbbbbb;
    margin-right: 30px;
}
#search-submit{
    font-family: "Open Sans", sans-serif;
    width: 200px;
    background-color: #bbbbbb;
    border: none;
    font-weight: 100;
    cursor: pointer;
    font-size: 20px;
    padding: 20px;
}

#main-wine-element{
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    
}

#main-wine-element h2{
    font-weight: 500;
    font-size: 50px;
    text-align: center;


}
#country-wine-element p{
    font-size: 20px;
    font-weight: 100;
}

.card-wine{
    border: 1px solid #9a9a9a;
    margin-left: 30px;
    border-radius: 20px;
    width: 400px;
    height: 500px;
    text-align: center;
}

.card-wine p, span{
    font-size: 15px;
}

.display-cards{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

